@model IList<AzureKeyVaultNet.Models.SecretModel>
@{
    ViewBag.Title = "Key Vault Secrets";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Value</th>
                <th>Url</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var secret in Model)
            {
            <tr>
                <td>@secret.Name</td>
                <td>@secret.Type</td>
                <td>@secret.Value</td>
                <td>@secret.Url</td>
                <td>@secret.Version</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @ViewBag.Error
</div>
